body {
    margin: 0px;
}

.cart-1 {
    width: 100%;
    filter: brightness(80%);
    position: absolute;
}

.main {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

.text {
    margin: 200px;
    color: white;
}

.text h3 {
    color: #f4cb08;
    font-size: 30px;
}

.text h1 {
    font-size: 40px;
}

.text a {
    color: #f4cb08;
    font-weight: bold;
}

.text p {
    font-size: 20px;
    font-weight: bold;
}

.btn1 {
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    background: #f4cb08;
    color: white;
    border: none;
    font-weight: bold;
}

.btn2 {
    padding: 10px;
    width: 150px;
    margin-left: 20px;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid white;
    color: white;
    border-radius: 10px;
}

.btn2:hover {
    color: black;
    background-color: white;
}

.img-1 {
    margin-top: 100px;
    margin-left: -150px;
}


.cart-2 {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    margin: 50px;
}

.para1 {
    margin-left: 160px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
}

.para1 h3 {
    color: #f4cb08;
    font-size: 30px;
}

.para1 a {
    color: #f4cb08;
    font-weight: bold;
}

.para2 {
    margin-left: 160px;
    margin-top: 100px;
    padding-right: 40px;
    font-size: 20px;
}

.para2 button {
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: #f4cb08;
    color: white;
}

.cart-3 {
    display: flex;
    filter: brightness(80%);
}